<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ffEngine实时服务器云平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="../inc/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="../inc/css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="./Public/images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">

		<div class="row">
			<div class="span6"><div class="row"><h1 class="demo-panel-title">ffEngine 实时服务器云平台</h1></div></div>
			<div class="span6"><div class="row" height="20px"></br></br></br></div>
				<div class="row"><h4>面向于端游、页游、手游服务器程序的云托管平台</h4></div>
			</div>
		</div>

		<div class="row ">
			<div >
			  <div class="navbar navbar-inverse">
				<div class="navbar-inner">
				  <div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
					<div class="nav-collapse collapse" id="nav-collapse-01">
					  <ul class="nav">
						<li>
						  <a href="./index.php">
							首页
							<!-- <span class="navbar-unread">1</span>-->
						  </a>
						</li>
						<li>
						  <a href="./index.php?c=Ctrl&a=loginMenu">
							登陆
							<!-- <span class="navbar-unread">1</span>-->
						  </a>
						</li>
						<li>
						  <a href="./index.php?c=Ctrl&a=registerMenu">
							注册
							<!-- <span class="navbar-unread">1</span>-->
						  </a>
						</li>
						<!-- <li class="active">-->
						<li>
						  <a href="#fakelink">
							配置服务器
							<!-- <span class="navbar-unread">1</span>-->
						  </a>
						  <ul>
							<li><a href="./index.php?c=Ctrl&a=showServerListMenu">区组管理</a></li>
							
							<li><a href="#fakelink">服务器管理</a></li>
						  </ul> <!-- /Sub menu -->
						</li>
						<li>
						  <a href="#fakelink">
							文档
						  </a>
						</li>
                        <li>
						  <a href="http://ffbbs.sinaapp.com">
							论坛
						  </a>
						</li>
						<li>
						  <a href="#fakelink">
							关于
						  </a>
						</li>
					  </ul>
					</div><!--/.nav -->
				  </div>
				</div>
			  </div>
			</div>
        
		</div> <!-- /row -->
		<div class="row demo-row">
			<div id="ShowMarkDown">
			</div>
		</div>
	</div> <!-- /container -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="span7">
            <h3 class="footer-title">参与其中</h3>
            <p>ffEngine为开源项目，如果你也感兴趣，一起来贡献力量！</p>
			<p>Code Repository ：<a href="https://github.com/fanchy/ffengine" target="_blank">https://github.com/fanchy/ffengine</a></p>
			<p>Email：zxfown@gmail.com<p/>
			<p>Weibo： <a href="http://weibo.com/zxfown" target="_blank"> http://weibo.com/zxfown </a> </p>
			<p>QQ: 693654841 </p>
			<p>Blog:  <a href="http://www.cnblogs.com/zhiranok" target="_blank"> http://www.cnblogs.com/zhiranok </a></p>
          </div> <!-- /span8 -->

          <div class="span5">
            <div class="footer-banner">
              <h3 class="footer-title">SLOGAN</h3>
              <ul>
                <li>无聊梦见忧郁，找到理想不太易</li>
                <li>理想有日达成，找到心底梦想的世界</li>
                <li>BEYOND！</li>
              </ul>
			  <h3 >COPYRIGHT</h3>
			  <p> <a href="http://www.bootcss.com/" target="_blank">致谢Boostrap</a></p>
			  <p> <a href="http://www.bootcss.com/p/flat-ui/" target="_blank">致谢FLAT UI</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div id="div" style="display: none">
		<textarea id="SrcMarkDown" cols="80" rows="20" class="pane">
## 经典网游服务器架构
![](../inc/images/server_design/game.jpg)

 该图省略了专门用途的dbserver、guildserver等用于专门功能的server，该架构的优点有：
 
* LoginGate相当于DNS，可以动态的保证GameGate之间负载均衡。
* 由于Clientt的逻辑操作都是由GameServer处理的，而Client的消息请求都被GameGate转发到GameServer上，所以在不同的GameGate上的client仍能出现在相同的场景里。若在不同的场景，又可以将其分布在不公的GameServer处理，从而实现了GameServer的Scalability。
* GameServer一般是由C++与脚本结合实现的。由于数据都是在内存中处理而且大部分的IO操作（网络、数据库等）都被异步化，所以保证了非常高的实时性。
缺点是：
* 各个节点之间通过socket进行异步通信，测试过程叫复杂。
* 各个节点往往都需要交互，这时就涉及到了谁连谁的问题，理解和设计架构的网络拓扑也变得不太容易，相应的配置也会叫繁琐，排错的难度也较大。
* GameServer由于是C++主语言实现，不免会涉及到崩溃和内存泄露问题，采用C++与脚本结合很大程度上缓解了这个问题，实际上越来越多的逻辑操作都是放到脚本中实现。
* 由于该架构必须正确的配置连接关系，否则不能正常工作，对于运维而言也并不轻松。
　　
讨论完经典网游的服务器架构，今天的主题也呼之欲出了，但在此之前，先说一下该架构的核心思想，如果你读过《面向模式的软件架构.第4卷,分布式计算的模式语言》你也许想到了BrokerPattern，其核心思想是通过Broker代理层，促使Server的位置对于Client保持透明，client通过Broker找到对应的Server处理请求，Serverr是如何分布的、数量多少，Client都不受影响。Broker可以存在两种模式，一种是类似于DNS提供的LookUp服务，它只是帮助Client定位到Server的位置，Client直接连接到Serverr进行通信。LoginGate扮演的就是这种Broker。另外一种Broker直接将Client请求投递给Serverr，GameGate就是扮演的这种Broker。总的来说BrokerPattern中，Broker具有如下功能：
 * LookUp服务，帮助Client定位Server
 * Route服务，实现Client和Server之间的消息转发
 * 注册服务，Server必须要注册到Broker上这样Broker才能提供LookUp和Route功能。
BrokerPattern示意图：
![](../inc/images/server_design/pattern.jpg)

　　所以今天的主题是如何利用BrokerPattern构建实时的服务器框架。
## ffEngine
目标：

 * 节点之间通信采用异步消息、回调模式
 * Server必须很容易注册到Broker上
 * C++/EPOOL实现网络通信，保证实时性，支持逻辑层python实现，支持热更新
 * 该框架能够容易的构建单个区组的构架
 * 该框架支持跨区组通信，这也是Broker模式的优势，节点之间通信不需要知道对方的位置，只需要知道对方的名称
 * 这个框架的名字叫ffEngine。

### FFRPC
　　首先介绍ffEngine的通信组件ffrpc，ffrpc中有如下5种角色：

 * BrokerMaster，负责管理所有的BrokerSlave，所有Slave需要注册到BrokerMaster上，BrokerMaster同步所有信息给所有节点。
 * BrokerSlave负责转发Client和Service之间的消息。
 * Client为调用Service接口的一方，它通过Broker于Service通信，Client不知道Service的具体位置，它只是知道当前与之通信的Service名称。
 * Service提供给Client调用的接口，并把接口注册到Broker上，Service若调用了其他的Service的接口，则相对于其他Service其为Client角色。
 * BrokerBridge负责桥接各个brokerMaster，每一个BrokerMaster负责一组服务，BrokerBridge使Client调用其他组接口和调用本组的接口一样容易，因为只需要指定对方服务名称即可。
各个角色示意图：
![](../inc/images/server_design/Broker.jpg)

使用FFRPC实现的Echo服务实例代码：
http://www.cnblogs.com/zhiranok/archive/2013/06/06/ffrpc.html

## ffEngine中的其他组件Gate和Scene
### Gate
　　外网接入的client有些特殊，需要一定的安全处理。Gate是专门用于接入外部Client的组件。Gate的作用有：

 * Client的第一个消息必须为验证消息，Gate 并没有验证Client的能力，它调用Scene@0的接口处理
 * Scene@0通过验证后将Client将被分配唯一的SessionId。
 * Client的所有消息都被Gate转发到对应的Scene上，Scene可以控制Gate接口切换某个Client到其他Scene上
 * Gate提供转发消息、多播、广播、断开连接等接口公scene调用。
需要特别指出的是，Gate和Scene只是ffEngine的组件，ffEngine通过制定不同的启动参数来确定开启哪些组件。示例：

 * ./app_ffEngine -gate gate@0 -broker tcp://127.0.0.1:10241 -gate_listen tcp://121.199.21.238:10242

 * -gate 表示gate的名称，scene通过名称调用其接口
 * -gate_listen表示gate监听的ip、port
 * -brkoker表示作为BrokerMaster启动，一组服务中必须有一个BrokerMaster，如果Broker和Client和Service在同一进程中，Broker专门做了优化，消息会直接从内存间实现传递，避免了网络转发的开销。
### Scene
　　在ffEngine中的所有Service都是运行在Scene组件之下的。Scene提供了通用的接口，可以和Gate和其他Scene通信，并把接口导入到了python中。Scene接收的Client的请求都交由Python处理，所以可以用Scene+Python实现GameServer、DbServer等各种专用的服务器。Scene组件提供的功能有：

 * 验证Client有效性，scene@0必须提供此接口
 * 处理Client Enter消息，Scene第一次进入该Scene，触发此事件
 * 处理Client Offline消息，Client下线，触发此事件
 * Scene提供转发、多播、广播、关闭连接等接口给python
 * Scene提供定时器接口给python
 * Scene提供异步操作Mysql、Sqlite的接口，采用异步加回调，从而避免阻塞主线程
 * Scene提供了一套消息派发框架，支持client和python通信的协议包括json、thrift、protobuf。
 * 使用ffEngine构建的RPG 游戏示例：
http://localhost/ffengine/index.php?c=Ctrl&a=game_tutorial

./app_ffEngine -gate gate@0 -broker tcp://127.0.0.1:10241 -gate_listen tcp://121.199.21.238:10242 -python_path ./ -scene scene@0
 * 该示例中把gate和scene启动到了一个服务器程序上，实际上通过调整参数，二者可以启动到不同进程中，ffEngine通过参数开启组件，而组件之间是通过Broker建立联系的。
对应的python代码参见：http://localhost/ffengine/index.php?c=Ctrl&a=game_tutorial

##　总结：
* Ffrpc是基于BrokerPattern思想实现的异步消息+回调通讯库。
* 使用python构建实时服务器完全可以做到，在一些页游和手游项目尤其适合。确保高实时性的建议一是把数据在内存中操作，二是io操作异步化。
* ffEngine支持Client与Python的通信协议有Json、thrift、protobuf。我个人最喜欢thrift。
* 项目源码：
　　https://github.com/fanchy/ffengine

		</textarea>
	</div>
    <!-- Load JS here for greater good =============================-->
    <script src="../inc/js/jquery-1.8.3.min.js"></script>
    <script src="../inc/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="../inc/js/jquery.ui.touch-punch.min.js"></script>
    <script src="../inc/js/bootstrap.min.js"></script>
    <script src="../inc/js/bootstrap-select.js"></script>
    <script src="../inc/js/bootstrap-switch.js"></script>
    <script src="../inc/js/flatui-checkbox.js"></script>
    <script src="../inc/js/flatui-radio.js"></script>
    <script src="../inc/js/jquery.tagsinput.js"></script>
    <script src="../inc/js/jquery.placeholder.js"></script>
    <script src="../inc/js/jquery.stacktable.js"></script>
    <!-- <script src="http://vjs.zencdn.net/c/video.js"></script>-->
    <script src="../inc/js/application.js"></script>
    <script src="../inc/js/jquery.json-2.4.js"></script>
    
    <script type="text/javascript" src="../inc/js/showdown.js"></script>
    <script type="text/javascript" src="../inc/syntaxhighlighter-2.1.382/scripts/brush.js"></script>
	<link type="text/css" rel="stylesheet" href="../inc/syntaxhighlighter-2.1.382/styles/shCore.css"/>
	<link type="text/css" rel="stylesheet" href="../inc/syntaxhighlighter-2.1.382/styles/shThemeDefault.css"/>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc5875c0a7f78e3b8f758f907513834db' type='text/javascript'%3E%3C/script%3E"));
</script>
  </body>
</html>


<script type="text/javascript">
//! 解析markdown内容
function ShowMarkdown(srcId, destId){
	var src_content = $(srcId).val();
	var converter = new Showdown.converter();
	var ret = converter.makeHtml(src_content);
	//alert(ret);
	$(destId).html(ret);
}
//! 高亮代码
function RenderCode(){
	$(document).ready(function(){
		SyntaxHighlighter.config.clipboardSwf = '../inc/syntaxhighlighter-2.1.382/scripts/clipboard.swf';
		SyntaxHighlighter.all();
	});
}
$(function(){
	ShowMarkdown("#SrcMarkDown", "#ShowMarkDown");
	RenderCode();
});

</script>