<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ffEngine实时服务器云平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="../inc/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="../inc/css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="./Public/images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">

		<div class="row">
			<div class="span6"><div class="row"><h1 class="demo-panel-title">ffEngine 实时服务器云平台</h1></div></div>
			<div class="span6"><div class="row" height="20px"></br></br></br></div>
				<div class="row"><h4>面向于端游、页游、手游服务器程序的云托管平台</h4></div>
			</div>
		</div>

		<div class="row ">
			<div >
			  <div class="navbar navbar-inverse">
				<div class="navbar-inner">
				  <div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
					<div class="nav-collapse collapse" id="nav-collapse-01">
					  <ul class="nav">
						<li>
						  <a href="./index.php">
							首页
							<!-- <span class="navbar-unread">1</span>-->
						  </a>
						</li>
						<li>
						  <a href="./index.php?c=Ctrl&a=loginMenu">
							登陆
							<!-- <span class="navbar-unread">1</span>-->
						  </a>
						</li>
						<li>
						  <a href="./index.php?c=Ctrl&a=registerMenu">
							注册
							<!-- <span class="navbar-unread">1</span>-->
						  </a>
						</li>
						<!-- <li class="active">-->
						<li>
						  <a href="#fakelink">
							配置服务器
							<!-- <span class="navbar-unread">1</span>-->
						  </a>
						  <ul>
							<li><a href="./index.php?c=Ctrl&a=showServerListMenu">区组管理</a></li>
							
							<li><a href="#fakelink">服务器管理</a></li>
						  </ul> <!-- /Sub menu -->
						</li>
						<li>
						  <a href="#fakelink">
							文档
						  </a>
						</li>
                        <li>
						  <a href="http://ffbbs.sinaapp.com">
							论坛
						  </a>
						</li>
						<li>
						  <a href="#fakelink">
							关于
						  </a>
						</li>
					  </ul>
					</div><!--/.nav -->
				  </div>
				</div>
			  </div>
			</div>
        
		</div> <!-- /row -->
		<div class="row demo-row">
			<div id="ShowMarkDown">
			</div>
		</div>
	</div> <!-- /container -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="span7">
            <h3 class="footer-title">参与其中</h3>
            <p>ffEngine为开源项目，如果你也感兴趣，一起来贡献力量！</p>
			<p>Code Repository ：<a href="https://github.com/fanchy/ffengine" target="_blank">https://github.com/fanchy/ffengine</a></p>
			<p>Email：zxfown@gmail.com<p/>
			<p>Weibo： <a href="http://weibo.com/zxfown" target="_blank"> http://weibo.com/zxfown </a> </p>
			<p>QQ: 693654841 </p>
			<p>Blog:  <a href="http://www.cnblogs.com/zhiranok" target="_blank"> http://www.cnblogs.com/zhiranok </a></p>
          </div> <!-- /span8 -->

          <div class="span5">
            <div class="footer-banner">
              <h3 class="footer-title">SLOGAN</h3>
              <ul>
                <li>无聊梦见忧郁，找到理想不太易</li>
                <li>理想有日达成，找到心底梦想的世界</li>
                <li>BEYOND！</li>
              </ul>
			  <h3 >COPYRIGHT</h3>
			  <p> <a href="http://www.bootcss.com/" target="_blank">致谢Boostrap</a></p>
			  <p> <a href="http://www.bootcss.com/p/flat-ui/" target="_blank">致谢FLAT UI</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div id="div" style="display: none">
		<textarea id="SrcMarkDown" cols="80" rows="20" class="pane">
![](../inc/images/server_design/log_demo.jpg)


		</textarea>
	</div>
    <!-- Load JS here for greater good =============================-->
    <script src="../inc/js/jquery-1.8.3.min.js"></script>
    <script src="../inc/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="../inc/js/jquery.ui.touch-punch.min.js"></script>
    <script src="../inc/js/bootstrap.min.js"></script>
    <script src="../inc/js/bootstrap-select.js"></script>
    <script src="../inc/js/bootstrap-switch.js"></script>
    <script src="../inc/js/flatui-checkbox.js"></script>
    <script src="../inc/js/flatui-radio.js"></script>
    <script src="../inc/js/jquery.tagsinput.js"></script>
    <script src="../inc/js/jquery.placeholder.js"></script>
    <script src="../inc/js/jquery.stacktable.js"></script>
    <!-- <script src="http://vjs.zencdn.net/c/video.js"></script>-->
    <script src="../inc/js/application.js"></script>
    <script src="../inc/js/jquery.json-2.4.js"></script>
    
    <script type="text/javascript" src="../inc/js/showdown.js"></script>
    <script type="text/javascript" src="../inc/syntaxhighlighter-2.1.382/scripts/brush.js"></script>
	<link type="text/css" rel="stylesheet" href="../inc/syntaxhighlighter-2.1.382/styles/shCore.css"/>
	<link type="text/css" rel="stylesheet" href="../inc/syntaxhighlighter-2.1.382/styles/shThemeDefault.css"/>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc5875c0a7f78e3b8f758f907513834db' type='text/javascript'%3E%3C/script%3E"));
</script>
  </body>
</html>


<script type="text/javascript">
//! 解析markdown内容
function ShowMarkdown(srcId, destId){
	var src_content = $(srcId).val();
	var converter = new Showdown.converter();
	var ret = converter.makeHtml(src_content);
	//alert(ret);
	$(destId).html(ret);
}
//! 高亮代码
function RenderCode(){
	$(document).ready(function(){
		SyntaxHighlighter.config.clipboardSwf = '../inc/syntaxhighlighter-2.1.382/scripts/clipboard.swf';
		SyntaxHighlighter.all();
	});
}
$(function(){
	ShowMarkdown("#SrcMarkDown", "#ShowMarkDown");
	RenderCode();
});

</script>